/.installed.cfg
/.mr.developer.cfg
/.project
/.pydevproject
/buildout.cfg
/tags

/bin/
/develop-eggs/
/docs/_build/doctrees/
/docs/_build/Makefile
/docs/_build/make.bat
/eggs/
/lib/
/include/
/parts/
/src/
/var/
