/.installed.cfg
/.mr.developer.cfg
/tags

/bin/
/develop-eggs/
/docs/_build/
/eggs/
/lib/
/include/
/parts/
/src/
/var/
/.coverage
/flake8.log
/jshint-plone.app.deco.xml
/jshint-plone.app.jquerytools.xml
/jshint-plone.app.toolbar.xml

# also ignore `local.cfg`
/local.cfg
