[buildout]
extends = toolbar-1.0.cfg
extensions += buildout.dumppickedversions
versions = versions
unzip = true
parts =
    instance
    test
auto-checkout +=
    plone.app.deco
    plone.app.blocks
    plone.app.layoutpage
    plone.app.tiles
    plone.app.texttile
    plone.app.imagetile

#    plone.directives.tiles
#    plone.app.contentlistingtile
#    plone.app.mediarepository
#    collective.quickupload

[instance]
recipe = plone.recipe.zope2instance
blob-storage = ${buildout:directory}/var/blobstorage
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
eggs =
    Pillow
    Plone
    plone.app.deco
    plone.app.texttile
    plone.app.imagetile

[test]
recipe = zc.recipe.testrunner
eggs =
    ${instance:eggs}
    plone.tiles [test]
    plone.app.deco [test]
    plone.app.blocks [test]
    plone.app.toolbar [test]
    plone.app.layoutpage [test]
    plone.app.tiles [test]
    plone.app.texttile [test]
    Products.ResourceRegistries [test]
#    plone.app.contentlistingtile [test]
#    plone.app.imagetile [test]
#    plone.app.mediarepository [test]
